.main {
	width: 100vw;
	min-height: 100vh;
}

.container {
	max-width: 1200px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
}
.glass {
	padding: 20px;
	border-radius: 25px;
	box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}

.cloud-intro {
	position: relative;
	height: 100%;
	background: url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 150px 300px;
	animation: wind 20s alternate-reverse infinite;
}
@keyframes wind {
	0% {
		background-position: 0 200px, 0 300px, 100px 250px;
	}
	100% {
		background-position: 1000px 200px, 1200px 300px, 1100px 250px;
	}
}

@media (max-width: 678px) {
	.container {
		padding: 40px 0;
	}
}
